* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('https://scontent.fsjj1-1.fna.fbcdn.net/v/t39.30808-6/353404524_156385424113845_8210768026202576869_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=iXQjUDb_OgAAX8Ol7h1&_nc_ht=scontent.fsjj1-1.fna&oh=00_AfAEeYoFUlNZtUYjqFmP0tjLNsWeie8LDP9fqFp7mPz8HQ&oe=64B58177');
	background-size: cover;
	background-position: center;

}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}

@media (max-width: 767px) {
      .navbar ul li {
       display: none;
      }
}

.fun-fact {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
	
	gap: 3.5rem;
  }
  
  .fun-fact .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	gap: 2rem;
  }
 
  .fun-fact .box img {
	height: 10rem;
  }
  
  .fun-fact .box h3 {
	font-size: 4rem;
	text-transform: capitalize;
	color: #334;
  }
  
  .fun-fact .box p {
	font-size: 1.5rem;
	line-height: 2;
	color: #777;
	padding-top: .5rem;
  }
  @media screen and (max-width: 767px) {
	.fun-fact {
	  display: block;
	}
  
	.fun-fact .box {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
  
	.fun-fact .box img {
	  height: auto;
	  max-width: 100%;
	}
  
	.fun-fact .box h3 {
	  font-size: 3rem;
	}
	.fun-fact .box h3{
		font-size: 20px;
	}
  }

.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
	opacity: 0;
	animation: fade-in 2s forwards;
	

}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	opacity: 0;
	animation: fade-in 2s forwards;
}
@keyframes fade-in {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
  }
@media(max-width: 768px) {
.content p{
	font-size: 20px;
}
}


.title h1{
	text-align: center;
	padding-top: 50px;
	font-size: 42px;
}
.title h1::after{
	content: "";
	height: 4px;
	width: 230px;
	background-color: #000;
	display: block;
	margin: auto;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.title h1{
	text-align: center;
	padding-top: 50px;
	font-size: 42px;
	color: white;
}
.title h1::after{
	
	height: 4px;
	width: 230px;
	background-color: #000;
	display: block;
	margin: auto;
}
.puca{
	font-family: 'raleway';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fafafa;
}
.puca h3{
	font-size: 40px;
	margin: 25px 0;
	text-align: center;
	font-weight: 500;
}
.content-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1000px;
	margin-top: 30px;
}
.card{
	min-height: 200px;
	width: 320px;
	padding: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff;
	margin: 10px 4px;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.2);

}
.card i{
	margin: 20px;
	color: #ff5724;
}
.card h2{
	margin-bottom: 12px;
	font-weight: 400;
	text-align: center;
}
.card p{
	color:#6c757d;
	text-align: center;
}
@media (max-width: 768px) {
	.puca h3 {
	  font-size: 30px;
	}
	
	.content-box {
	  flex-direction: column;
	  align-items: center;
	}
	
	.card {
	  width: 100%;
	  margin: 10px 0;
	  padding: 20px;
	}
	
	.card i {
	  font-size: 30px;
	}
	
	.card h2 {
	  font-size: 24px;
	}
	
	.card p {
	  font-size: 14px;
	}
  }
.services{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 75px auto;
	text-align: center;
}
.card{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 0px 20px;
	padding: 20px 20px;
	background-color: #efefef;
	border-radius: 10px;
	cursor: pointer
}
.card .icon{
	font-size: 35px;
	margin-bottom: 10px;
}
.card h2{
	font-size: 28px;
	color: #c94f4f;
}
.card p{
	font-size: 17px;
	margin-bottom: 30px;
	line-height: 1.5;
	color: #5e5e5e;
}
@media (max-width: 768px) {
	.services {
	  flex-direction: column;
	  align-items: center;
	  margin: 50px auto;
	}
	
	.card {
	  width: 100%;
	  margin: 10px 0;
	}
	
	.card p {
	  font-size: 14px;
	}
  }

.testimonial-wrapper {
    display: flex;
    justify-content: center;
	text-align: center;
  }
  
  
  
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .testimonial {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .testimonial-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonial-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .testimonial-author {
    margin-top: 10px;
    font-weight: bold;
    color: #777;
  }
  @media (max-width: 768px){
	.testimonial-author p{
		font-size: 10px;
}
}


.img-gallery{
	width: 80%;
	margin: 100px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}
.img-gallery img{
	width: 100%;
	cursor: pointer;
}
.img-gallery img:hover{
	transform: scale(0.8) rotate(-15deg);
	border-radius: 20px;
	box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}
.full-img{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 100;
}
.full-img img{
	width: 90%;
	max-width: 500px;
}
.full-img span{
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 30px;
	color: #fff;
}

.heading{
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;
}
.heading h1{
	font-size: 50px;
	color: #000;
	margin-bottom: 25px;
	position: relative;

}
.heading h1::after{
	content:"";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #4caf50;
}
.heading p{
	font-size: 18px;
	color: #666;
	margin-bottom: 35px;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-container{
    width: 100%;
    min-height: 100vh;
    display: flex; 
}
.bg-1{
    flex: 1;
    background-color: rgb(180, 243, 175);
}
.bg-2{
    flex: 1;
    background-color: rgb(163, 236, 240);
}
.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    background-color: white;
    box-shadow: 24px 24px 30px #6d8dad;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
}
.text-container h1{
    font-size: 70px;
    padding: 20px 0px;
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    margin: 50px 0px;
    background-color: rebeccapurple;
    border: 2px solid transparent;
    color: white;
    border-radius: 5px;
    transition: .3s all ease;
	
}
.text-container a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1600px){
	.wrapper{
		flex-direction: column;
	}
    .about-container{
        width: 90%;
		order: 2;
    }
    .image-container img{
        width: 400px;
        height: 400px;
    }
    .text-container h1{
        font-size: 50px;
    }
	.text-container p{
		font-size: 14px;
	}
}
@media screen and (max-width: 1100px){
    .about-container{
        flex-direction: column;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .text-container {
        align-items: center;
    }
}
.facilities {
	background: #f5f5f5;
  }
  
  .facilities .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 2rem;
  }
  
  .facilities .box-container .box {
	background: #fff;
	padding: 3rem;
	text-align: center;
	border: 0.2rem solid #334;
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .facilities .box-container .box:hover {
	background: #334;
  }
  
  .facilities .box-container .box:hover h3 {
	color: #fff;
  }
  
  .facilities .box-container .box:hover p {
	color: #fff;
  }
  
  .facilities .box-container .box img {
	height: 10rem;
	margin-bottom: .5rem;
  }
  
  .facilities .box-container .box h3 {
	padding: 1rem 0;
	font-size: 2rem;
	text-transform: capitalize;
	color: #334;
  }
  
  .facilities .box-container .box p {
	font-size: 1.4rem;
	line-height: 2;
	color: #777;
  }
  @media (max-width: 768) {
  .facilities .box-container .box h3{
font-size: 25px;
  }
}

.container1{
	width: 80%;
	margin: 50px auto;
	background: url('https://scontent.fsjj1-1.fna.fbcdn.net/v/t39.30808-6/343967358_564526512535762_2172242819168348409_n.jpg?stp=dst-jpg_s600x600&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=7ILwj1aYJZEAX80Ltnd&_nc_ht=scontent.fsjj1-1.fna&oh=00_AfDoZFlpk9IDHLrZxBSPZ8ahhxQhNbKt20xcD0scoxqKLw&oe=649A7BE4');
	background-size: cover;
	background-position: center;
}
.container1 h1{
	color: blue;
	font-weight: bold;
}
.container1 p{
	color: green;
	font-weight: bold;
}
.contact-box{
	background: white;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-right{
	flex-basis: 40%;
	padding: 40px ;
	background: #1c00b5;
	color: #fff;
}
h1{
	margin-bottom: 10px;
	font-family: sans-serif;
}
.container p{
	margin-bottom: 10px;
}
.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.input-row .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	padding-bottom: 5px;
}
textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding:10px;
	box-sizing: border-box;
}
label{
	margin-bottom: 6px;
	display: block;
	color: #1c00b5;
}
.butto

button{
	background: #1c00b5;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3)
}
.contact-left h3{
	color: #1c00b5;
	font-weight: 600;
	margin-bottom: 30px;
}
tr td:first-child{
	padding-right: 20px;
}
tr td{
	padding-top: 20px;
	color: white;
}
@media (max-width: 1045px) {
	.contact-box{
	display: block;
}
.container1 h1{
	font-size: 50px;
}
.container1 p{
	font-size: 20px;
}
.label{
	font-size: 20px;
}
.input-row{
	font-size:20px;
}
.contact-left h3{
	font-size: 20px;
}
.contact-right h3{
	font-size: 20px;
}
	.input-row .input-group{
	flex-basis: 5%;
}
}

.footer {
	background: #f5f5f5;
  }
  
  .footer .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
  }
  
  .footer .box-container .box h3 {
	font-size: 2.2rem;
	text-transform: capitalize;
	color: #334;
	padding: 1rem 0;
  }
  
  .footer .box-container .box .link {
	display: block;
	padding: .5rem 0;
	font-size: 1.5rem;
	line-height: 2;
	color: #777;
  }
  
  .footer .box-container .box .link i {
	padding-right: .5rem;
	color: #2597f4;
  }
  
  .footer .box-container .box .link:hover {
	color: #2597f4;
  }
  
  .footer .box-container .box .link:hover i {
	padding-right: 2rem;
  }
  
  .footer .box-container .box p {
	padding: .5rem 0;
	font-size: 1.5rem;
	line-height: 2;
	color: #777;
  }
  
  .footer .box-container .box p span {
	color: #2597f4;
  }
  
  .footer .box-container .box .email {
	width: 100%;
	border: 0.2rem solid #334;
	padding: 1.6rem 1.4rem;
	font-size: 1.6rem;
	color: #777;
	margin: 1rem 0;
  }
  
  .footer .box-container .box .share {
	margin-top: 2rem;
  }
  
  .footer .box-container .box .share a {
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	font-size: 1.7rem;
	background: #334;
	color: #fff;
	margin-right: .3rem;
	text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
	background: #2597f4;
  }
  
  .footer .credit {
	font-size: 2rem;
	text-transform: capitalize;
	color: #334;
	margin-top: 3rem;
	padding-top: 3rem;
	border-top: 0.2rem solid #334;
	text-align: center;
  }
  
  .footer .credit span {
	color: #2597f4;
  }
  
  @media (max-width: 1200px) {
	.header .contact-info {
	  padding: 2rem 5%;
	}
	.header .navbar {
	  padding: 2rem 5%;
	}
	section {
	  padding: 3rem 5%;
	}
  }
  
  @media (max-width: 991px) {
	html {
	  font-size: 55%;
	}
	.header .contact-info {
	  padding: 2rem;
	}
	.header .navbar {
	  padding: 2rem;
	}
	section {
	  padding: 3rem 2rem;
	}
  }
  
  @media (max-width: 768px) {
	.header .contact-info {
	  display: none;
	}
	.header #menu-btn {
	  display: inline-block;
	}
	.header #menu-btn.fa-times {
	  -webkit-transform: rotate(180deg);
			  transform: rotate(180deg);
	}
	.header .navbar .links {
	  position: absolute;
	  top: 99%;
	  left: 0;
	  right: 0;
	  background: #fff;
	  border-top: 0.2rem solid #334;
	  border-bottom: 0.2rem solid #334;
	  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.header .navbar .links.active {
	  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.header .navbar .links a {
	  display: block;
	  margin: 2.5rem 2rem;
	  font-size: 2.5rem;
	}
	.fun-fact {
	  padding: 5rem 2rem;
	}
	.fun-fact .box {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
		  -ms-flex-flow: column;
			  flex-flow: column;
	  text-align: center;
	}
  }
  
  @media (max-width: 450px) {
	html {
	  font-size: 50%;
	}
	.home .content h3 {
	  font-size: 3rem;
	}
	.contact .row form .inputBox input {
	  width: 100%;
	}
	.heading {
	  font-size: 3rem;
	}
  }
  @viewport {
	zoom: 1.0;
	width: device-width;
	initial-scale: 1.0;
	maximum-scale: 1.0;
	user-zoom: fixed;
  }
  /*# sourceMappingURL=servis.css.map */
